{% extends "backend/layout.html" %}

{% block content %}
    <div class="container ">
        <div class="row justify-content-start d-flex justify-content-center rounded-lg mx-5 py-5 mt-5 border border-primary align-items-center text-white bg-dark">
            <form action="/iniciar" method="POST" class="col-6 align-self-center">
                <div class="form-group">
                  <label for="exampleInputEmail1">Correo</label>
                  <input type="email" name="correo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Contraseña</label>
                  <input type="password" name="passw" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">mantener sesion</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    
    
{% endblock %}