{% extends "frontend/layout.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Formulario de Contacto</h1>
    <form action="/sendForm" method="POST">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" name="email"
                        placeholder="name@example.com">
                </div>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" name="name" placeholder="First name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control " name="LastName" placeholder="Last name">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Mensaje</label>
                    <textarea class="form-control" name="message" rows="4"></textarea>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">enviar</button>
    </form>
</div>
{% endblock %}