{% extends "frontend/layout.html" %}

{% block content %}

{% block message%}
{% with messages = get_flashed_messages()%}
{% if messages%}
{% for message in messages%}

  <p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
{%endblock%}

<div class="jumbotron mb-0">
    <h1 class="display-4">Bienvenido!</h1>
    <p class="lead">Es una pagina de prueba creada con python flask y bootstrap.</p>
    <hr class="my-4">
    <p>Mi nombre es Leo y soy desarrollador web.</br>Conoce mis proyectos</p>
    <a class="btn btn-outline-info btn-lg" href="/MisTrabajos" role="button">ver mas</a>
  </div>
  <section class="p-3 mb-2 bg-dark text-white">
    <h2 class="text-center">Habilidades</h2 clas>
    <div class="media">
      <img src="/static/img/Frontend.png" class="align-self-center mr-3" width="64" height="64" alt="Frontend">
      <div class="media-body">
        <h5 class="mt-0">Frontend</h5>
        <p>html, css, javascript</p>
        <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>      
    </div><hr class="my-4">
    <div class="media">
      <img src="/static/img/backend.png" class="align-self-center mr-3" width="64" height="64" alt="Backend">
      <div class="media-body">
        <h5 class="mt-0">Backend</h5>
        <p>PHP, ruby, go, python, nodeJs, C# </p>
        <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div><hr class="my-4">
    <div class="media">
      <img src="/static/img/bd.png" class="align-self-center mr-3" width="64" height="64" alt="Base de datos">
      <div class="media-body">
        <h5 class="mt-0">Base de datos</h5>
        <p> Mysql, SQL serve, oracle, MariaDB, mongoDB </p>
        <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div><hr class="my-4">
  </section>
{% endblock %}